Origin: TrueNAS Proxmox Plugin
Label: TrueNAS Proxmox Plugin
Suite: bookworm
Codename: bookworm
Components: main
Architectures: amd64
SignWith: @APT_GPG_KEY_ID@
Changelogs: https://truenas.github.io/truenas-proxmox-plugin/apt/changelogs/@CHANGEPATH@_changelog
Description: TrueNAS Proxmox Plugin APT repository (bookworm)

Origin: TrueNAS Proxmox Plugin
Label: TrueNAS Proxmox Plugin
Suite: trixie
Codename: trixie
Components: main
Architectures: amd64
SignWith: @APT_GPG_KEY_ID@
Changelogs: https://truenas.github.io/truenas-proxmox-plugin/apt/changelogs/@CHANGEPATH@_changelog
Description: TrueNAS Proxmox Plugin APT repository (trixie)
