Source: truenas-proxmox-plugin
Section: admin
Priority: optional
Maintainer: TrueNAS Proxmox Plugin Maintainers <noreply@github.com>
Build-Depends: debhelper-compat (= 13), dh-make-perl, perl
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/truenas/truenas-proxmox-plugin
Vcs-Git: https://github.com/truenas/truenas-proxmox-plugin.git
Vcs-Browser: https://github.com/truenas/truenas-proxmox-plugin

Package: truenas-proxmox-plugin
Architecture: all
Depends: pve-manager (>= 8.0.0), open-iscsi, multipath-tools, perl, libio-socket-ssl-perl, liburi-perl, ${misc:Depends}, ${perl:Depends}
Recommends: nvme-cli
Description: TrueNAS SCALE storage plugin for Proxmox VE
 This package provides the TrueNAS Proxmox storage plugin for shared VM disk
 storage over iSCSI and NVMe/TCP. It integrates with TrueNAS SCALE via
 WebSocket API calls to manage zvol-backed volumes and snapshots.
